
<mat-sidenav-container>

    <mat-sidenav #sidenav role="navigation" mode="side">
     <mat-nav-list>

        <a mat-list-item routerLinkActive="active" routerLink="/home" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Naslovna</span>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/pendingOrders" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Tekuće narudžbe</span>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/menus" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Meni</span>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/editInfo" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Postavke</span>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/doneOrders" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Završene narudžbe</span>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/dashboard" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Dashboard</span>
        </a>
        <!-- <a mat-list-item routerLinkActive="active" routerLink="/statistics" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Statistika</span>
        </a> -->
        <a mat-list-item routerLinkActive="active" routerLink="/logout" (click)="sidenav.toggle()" *ngIf="isLogedIn()">
          <span class="label">Odjava</span>
        </a>

      <!--
      <a mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>  
          <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>  
        <span class="label">Dashboard</span>
      </a>
      <a  mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
       <div fxHide.gt-xs>
         <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
       <div>
         <a routerLinkActive="active" routerLink="/home">
            EatOn
         </a>
       </div>

       <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="30px" class="navigation-items">
              <li routerLinkActive="active" routerLink="/home" *ngIf="isLogedIn()">
                <a>
                    <!-- <mat-icon class="icon">home</mat-icon> -->
                    <span class="label">Naslovna</span>
                </a>
              </li>
              <li routerLinkActive="active" routerLink="/pendingOrders" *ngIf="isLogedIn()">
                <a>
                    <span class="label">Tekuće narudžbe</span>
                </a>
              </li>
              <li routerLinkActive="active" routerLink="/menus" *ngIf="isLogedIn()">
                  <a>
                    <span class="label">Meni</span>
                   </a>
              </li>
              <li routerLinkActive="active" routerLink="/editInfo" *ngIf="isLogedIn()">
                  <a>
                    <span class="label">Postavke</span>
                   </a>
              </li>

              <li routerLinkActive="active" routerLink="/doneOrders" *ngIf="isLogedIn()">
                <a>
                    <span class="label">Završene narudžbe</span>
                </a>
              </li>

              <!-- <li routerLinkActive="active" routerLink="/statistics" *ngIf="isLogedIn()">
                <a>
                    <span class="label">Statistika</span>
                </a>
              </li> -->

              <li routerLinkActive="active" routerLink="/dashboard" *ngIf="isLogedIn()">
                <a>
                    <span class="label">Dashboard</span>
                </a>
              </li>
              
              <li routerLinkActive="active" routerLink="/logout" *ngIf="isLogedIn()">
                <a>
                  <span class="label">Odjava</span>
                </a>
              </li>
          </ul>
       </div>
       
      </mat-toolbar>
      <main>
  
          <!-- <app-pending-orders></app-pending-orders>
          <app-edit-info></app-edit-info> -->

          <router-outlet></router-outlet>
        
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

<!--
<mat-toolbar color="warn">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EatOn</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/first'>First Component</a>
        <a mat-list-item routerLink='/second'>Second Component</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

-->