@import '../../../theme.sass'
  
mat-sidenav-container, 
mat-sidenav-content, 
mat-sidenav 
  height: 100%


mat-sidenav 
  width: 250px


a
  text-decoration: none
  color: white

a:hover,
a:active
  color: lightgray

li
  outline: none
  &.active
    border-bottom: 1.5px solid white

mat-nav-list a.active span.label
  color: mat-color($primary)
  border-bottom: 1.5px solid mat-color($primary)

.navigation-items
  list-style: none
  padding: 0
  margin: 0
  cursor: pointer

.navigation-items li a
  font-size: 1rem

.icon
  display: inline-block
  height: 30px
  margin: 0 auto
  padding-right: 5px
  text-align: center
  vertical-align: middle
  width: 15%


.label 
  display: inline-block
  line-height: 30px
  margin: 0
  width: 85%


main
  margin: 20px //Samo privremeno