

<app-table *ngIf="collectionType != null" 
           [collection]="collectionType" 
           (onAction)="onAction($event)"
           [options]="getOptions()"
           [attributesTemplate]="attributesTemplateRef"><!---->
</app-table>


<ng-template #attributesTemplateRef let-row="row" let-attr="attribute">

    <ng-container [ngSwitch]="attr.name">

        <span *ngSwitchCase="'photo'">
            <img [src]="src(row.data[attr.name])">
        </span>
    
        <span *ngSwitchDefault>
            {{row.data[attr.name]}}
        </span>
    
    </ng-container> 
    
</ng-template>

<!--#if dialog 
    <ng-template #dialogContentRef *ngIf="collectionType != null">

    <app-table [collection]="collectionType" [attributesTemplate]="attributesTemplateRef">
    </app-table>

</ng-template> 
-->


<!-- <ng-template #attributesTemplateRef let-row="row" let-attr="attribute">

    <ng-container [ngSwitch]="attr.name">

        <mat-form-field *ngSwitchDefault>
            <input matInput [(ngModel)]="row.data[attr.name]" type="text" [ngModelOptions]="{standalone: true}" [required]="attr.mandatory"/>
            <mat-error>{{attr.error.message}}</mat-error>
        </mat-form-field>
    
    </ng-container> 

</ng-template> -->


<app-menu-item-edit #menuItemEdit [collectionType]="collectionType"></app-menu-item-edit>
<app-message #message></app-message>
