<div *ngIf="datasets!=null" class="container">
  
    <mat-grid-list cols="2" rowHeight="2:1" *ngIf="isGridLayout">
      <mat-grid-tile *ngFor="let ct of supportedChartTypes">
        <mat-card style="height: 90%;width: 95%;">
        <div style="padding: 0 10px">
  
          <ng-container *ngIf="datasets!=null && datasets.length>0" >
            <canvas baseChart
                    [datasets]="datasets"
                    [labels]="labels"
                    [options]="options"
                    [chartType]="ct.type"
                    (chartClick)="onClick($event)">
            </canvas>
          </ng-container>
      
        </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
    <ng-container *ngIf="!isGridLayout">
  
      <div class="chart-selector-container">
          <div *ngFor="let ct of supportedChartTypes">
          <button mat-raised-button [ngClass]="{'selected':chartType==ct.type}" (click)="chartType = ct.type">
              <mat-icon>{{ct.icon}}</mat-icon> 
          </button>
        </div>
      </div>
        
      <div class="chart-container">
  
        <ng-container *ngIf="datasets!=null && datasets.length>0" >
          <canvas baseChart
                  [datasets]="datasets"
                  [labels]="labels"
                  [options]="options"
                  [chartType]="chartType"
                  (chartClick)="onClick($event)">
          </canvas>
        </ng-container>
  
      </div>
  
    </ng-container>
  
    <mat-card class="layout-switcher">
        <mat-slide-toggle [labelPosition]="'before'" [color]="'primary'" [checked]="isGridLayout" (change)="isGridLayout = $event.checked">Grid layout: </mat-slide-toggle>
    </mat-card>
  
  </div>
  
  
  
  <ng-template #dialogContentRef>
  
    <div *ngIf="datasetsMonths!=null && datasetsMonths.length>0" style="width: 70%;margin: 0 auto;">
      <canvas baseChart
              [datasets]="datasetsMonths"
              [labels]="labelsMonths"
              [options]="optionsMonths"
              [chartType]="'bar'">
      </canvas> 
    </div>
  
  </ng-template>