@import '../../../theme.sass'

// .container
//     max-height: 80%
//     height: 80%

.container
    div.chart-selector-container
        float: left 
        margin-top: 30px
        > div button
            color: #5a5a5a
            margin-bottom: 15px
            &.selected
                color: white
                background: mat-color($primary)
        button
            padding: 10px
            mat-icon
                height: 40px
                width: 40px
                font-size: 40px


    .chart-container
        margin-left: 100px


.layout-switcher
    margin: 20px 0
    text-align: center
    border: 1px solid mat-color($primary)
    color: mat-color($primary)

