<mat-icon class="app-label person-icon" (click)="_show()">person</mat-icon>


<ng-template #dialogContentRef *ngIf="user != null">
    <div class="info-container">
        <p>
            <span class="app-label">Ime: </span>  
            <span class="app-value">{{user.name}}</span> 
        </p>

        <p>
            <span class="app-label">Prezime: </span>  
            <span class="app-value">{{user.surname}}</span> 
        </p>

        <p>
            <span class="app-label">Email: </span>  
            <span class="app-value">{{user.email}}</span> 
        </p>

        <p>
            <span class="app-label">Adresa: </span>  
            <span class="app-value">{{user.address}}</span> 
        </p>
        
        <p>
            <span class="app-label">Grad: </span>  
            <span class="app-value">{{user.city}}</span> 
        </p>

        <p>
            <span class="app-label">Broj tel: </span>  
            <span class="app-value">{{user.phone}}</span> 
        </p>
    </div>

    <div class="map-container">
        <agm-map [latitude]="_parse(user.latitude)" [longitude]="_parse(user.longitude)" 
                [fullscreenControl]="true" [mapTypeControl]="true"
                [mapTypeId]="'roadmap'">
                <!-- 'roadmap' | 'hybrid' | 'satellite' | 'terrain' -->
            <agm-marker [latitude]="_parse(user.latitude)" [longitude]="_parse(user.longitude)"></agm-marker>
        </agm-map>
    </div>

</ng-template>


<!-- 

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>

 -->