.person-icon
    cursor: pointer   

.info-container .app-label 
    width: 60px
    display: inline-block

agm-map 
  height: 300px

.info-container,
.map-container
    display: inline-block
    
.info-container
    width: 30%

.map-container
    width: 70%
    float: right