
<div class="title-desc">
    <h3>{{pending?'Tekuće narudžbe' : 'Završene narudžbe'}}</h3>
    <mat-divider></mat-divider>
</div>


<app-table [collection]="collectionType" 
           (onAction)="onAction($event)"  
           [attributesTemplate]="orderAttributesTemplateRef"
           [options]="getOptions()">

        <ng-template #orderAttributesTemplateRef let-row="row" let-attr="attribute">

        <ng-container [ngSwitch]="attr.name">

            <span *ngSwitchCase="'status'" class="status-{{row.data.status}} readonly">
                    <mat-icon>{{getIconForStatus(row.data.status)}}</mat-icon>
            </span>
         
            <span *ngSwitchCase="'deliveryTime'">{{row.data[attr.name] | date:'dd.MM.yyy HH:mm'}}</span>
            <span *ngSwitchCase="'date'">{{row.data[attr.name] | date:'dd.MM.yyy HH:mm'}}</span>

            <span *ngSwitchCase="'id'">{{getOrderNumber(row.data)}}</span>

            <!-- <span *ngSwitchCase="'total'">{{_calculateAllTotal(row.data.orderItems)}}</span> -->
            
            <span *ngSwitchDefault>{{row.data[attr.name]}}</span>

        </ng-container> 

    </ng-template>


</app-table>





<ng-template #dialogContentRef>

    <div style="height:110px">
        <div class="half-left">
            <div class="label-value-row" cdkFocusInitial>
                <span class="app-label">Status: </span>  

                <span *ngFor="let status of getOrderStatusArray()"
                      [ngClass]="{'selected':getOrderEditRow().data.status==status.key}" 
                      class="app-value status status-{{status.key}}" 
                      style="vertical-align: -webkit-baseline-middle;">
                    <mat-icon (click)="getOrderEditRow().data.status = (pending && status.key != 'O'? status.key : getOrderEditRow().data.status)">{{status.value}}</mat-icon>
                    <!-- <mat-icon>{{getIconForStatus(getOrderEditRow().data.status)}}</mat-icon> -->
                </span> 

                <span class="payment-method" matTooltip="Način plaćanja: {{getOrderEditRow().data.paymentMethod=='E'? (getOrderEditRow().data.rewarded?'Nagrad':'Ethereum') : 'Prilikom preuzimanja'}}"> <i class="{{getOrderEditRow().data.paymentMethod=='E'? (getOrderEditRow().data.rewarded? 'fas fa-gift' : 'fab fa-ethereum') : 'fas fa-handshake'}}"></i> </span>

            </div>

            <div class="label-value-row" style="margin-top: 10px;">
                <span class="app-label">Datum narudžbe: </span>
                <span class="app-value">{{getOrderEditRow().data.date | date:'dd.MM.yyy  HH:mm'}}</span>
            </div>

            <div class="label-value-row" style="position: relative;top:-10px;">

                <span class="app-label">Vrijeme dostave (cca): </span>
                <span class="app-value">
                    {{getOrderEditRow().data.deliveryTime | date:'dd.MM.yyy'}}<!-- HH:mm --> 
                   
                    <mat-form-field style="margin-left:5px;font-weight: bold;">
                        <input matInput [readonly]="!pending" type="time" [(ngModel)]="deliveryTime" (focusout)="onDeliveryTimeChanged()"/><!-- (ngModelChanged)="onDeliveryTimeChanged()" -->
                    </mat-form-field>
                </span>

                <app-user-info-dialog #userInfo (click)="showUser()" [user]="this.getOrderEditRow() != null? this.getOrderEditRow().data.user : null"></app-user-info-dialog>
            </div>
        </div>

        <div class="half-right">
            <div class="label-value-row">
                <span class="app-label">Napomena: </span> 
                <span class="app-value">{{getOrderEditRow().data.remark}}</span> 
            </div>
            
            <div class="label-value-row" style="margin-top:40px;">
                <span class="app-label">Ukupno: </span> 
                <span class="total-amount">{{calculateAllTotal() | number : '1.2'}}</span> kn
            </div>
        </div>
    </div>
    <div>

        <div class="order-items">
            <app-table [collection]="orderItemsCollectionType" 
                       [attributesTemplate]="attributesTemplateRef"
                       [options]="getOptions2()">
            </app-table>
            <app-table [collection]="orderItemSupplementsCollectionType" 
                       [attributesTemplate]="attributesTemplateRef" 
                       [options]="getOptions2()"
                       class="supplements">
            </app-table>
        </div>

    </div>    
    
    <div style="margin-top:10px">
        <p>
            <span class="app-label">Napomena: </span> 
            <span class="app-value">{{orderItemsCollectionType.getCurrentRow() != null? orderItemsCollectionType.getCurrentRow().data.remark : ''}}</span> 
        </p>
    </div>
    
</ng-template>


<ng-template #attributesTemplateRef let-row="row" let-attr="attribute">

    <ng-container [ngSwitch]="attr.name">

        <span *ngSwitchCase="'total'">{{_calculateTotal(row.data) | number : '1.2'}}</span>
        
        <span *ngSwitchCase="'menuItemOptionName'">{{row.data.menuItemName}} ({{row.data[attr.name]}})</span>

        <span *ngSwitchDefault>{{row.data[attr.name]}}</span>

    </ng-container> 

</ng-template>






<!-- 
<hr style="margin-bottom:20px;">
    
<div *ngIf="collectionType.getCurrentRow()">
        <ng-container [ngTemplateOutlet]="dialogContentRef"></ng-container>
</div> -->
