@import '../../../theme.sass'

.half-right, .half-left
    display: inline-block
    width: 50%


.half-right
    float: right
    .label-value-row
        margin-left: 2%

.half-left
    float: left

.order-items app-table
    width: 49%
    display: inline-block
    vertical-align: top    
.order-items app-table.supplements
    padding-left: 2%

/deep/ app-table th.total,
/deep/ app-table .total,
/deep/ app-table th.amount,
/deep/ app-table .amount,
/deep/ app-table th.menuItemOptionPrice,
/deep/ app-table .menuItemOptionPrice,
/deep/ app-table th.menuItemOptionSupplementPrice,
/deep/ app-table .menuItemOptionSupplementPrice
    text-align: right 



// h2.mat-dialog-title
    // color: mat-color($primary)

span.total-amount
    color: mat-color($primary)
    font-size: 1.5rem
    font-weight: bold


//Ordered - new
span.status-O
    color: #737373
    &.readonly
        color: mat-color($warn)

//Confimed
span.status-C
    color: mat-color($primary)
//Processing
span.status-P
    color: mat-color($accent)
//Done
span.status-D
    color: green

app-user-info-dialog
    float: right
    margin-right: 15px
    margin-top: 10px

// .person-icon
//     //vertical-align: bottom
//     float: right
//     margin-right: 15px
//     cursor: pointer   

mat-form-field
    width: 80px

.label-value-row
    height: 30px

span.selected mat-icon
    // border: 2px solid mat-color($primary)
    background: mat-color($primary)
    color: white
    border-radius: 5px

span.status mat-icon
    margin-right: 30px
    cursor: pointer


span.payment-method
    float: right
    margin-right: 15px
    font-size: 1.5rem
    color: green
    i
        border: 2px solid
        border-radius: 20px
        padding: 5px
        text-align: center
        width: 30px
        &.fa-ethereum
            width: 25px
        &.fa-gift
            width: 25px
            color: #FFEA00


.title-desc 
    h3
        font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
        margin: 0
    mat-divider
        margin-bottom: 15px
        border-color: mat-color($primary)
        border-width: 1.5px