@import '../../../theme.sass'

.grid-container 
  margin: 20px


.dashboard-card 
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px


.more-button 
  position: absolute
  top: 5px
  right: 10px


.dashboard-card-content 
  text-align: center



mat-card.dashboard-card
  .mat-card-title
    font-size: 16px
    color: #5a5a5a

.card-container
  display: inline-block
  margin-right: 20px
  height: 133px
  padding-top: 20px

.card-wrapper
  padding: 15px
  width: 280px
  
  .card-header
    
    .card-icon
      width: 80px
      height: 80px
      border-radius: 5px
      background: rebeccapurple
      color: white
      position: relative
      top: -33px
      float: left

      &.current
        background: mat-color($primary) 
      &.money
        background: mat-color($success) 
      &.users
        background: mat-color($warn) 

      mat-icon
        font-size: 36px
        width: 36px
        height: 36px
        padding: 23px
    
    .card-category
      color: #999 
      font-size: 14px 
      text-align: right
      margin: 0
      margin-bottom: 10px
    
    .card-title
      text-align: right
      color: #3c4858
      font-size: 1.4rem
      margin: 0
    
  .card-footer
    border-top: 0.5px solid #c3c3c3
    margin-top: 10px
    height: 30px

    .card-footer-text
      position: absolute
    
    mat-icon
      display: inline-block
      position: relative
      top: 2px
      font-size: 16px 
      &.warning
        color: mat-color($warn)
      &.success
        color: mat-color($success)
      &.info
        color: mat-color($accent)
    p
      margin-bottom: 0
      color: #999
      font-size: 12px
      // text-align: left
      display: inline-block

    .info-right
      float: right

table
  width: 100%
  
  td
    text-align: left
    &.mat-column-total
      text-align: right

  th
    &.mat-column-total
      text-align: right