<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="250px">

    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="expand(card)">Proširi</button>
                  <button mat-menu-item (click)="remove(card)">Ukloni</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
    
            <mat-card-content class="dashboard-card-content">
        
                <ng-container [ngTemplateOutlet]="card.contentTemplate"></ng-container>
    
            </mat-card-content>
          </mat-card>
     
    </mat-grid-tile>

  </mat-grid-list>
</div>




<ng-template #summary>

  <div class="card-container">
    <mat-card class="card-wrapper">
    
      <div class="card-header">
        <div class="card-icon current"><mat-icon>assignment</mat-icon>
        </div>
        <p class="card-category">Tekuće narudžbe</p>
        <h3 class="card-title">{{pending}} </h3> <!--<small>GB</small>-->
      </div>
      <div class="card-footer">
        <div class="card-footer-text">
          <mat-icon [ngClass]="{'success':20>pending, 'warning':pending>=20}">{{20>pending? 'done' : 'warning'}}</mat-icon>
          <p>
            {{20>pending? 'Broj narudžbi u granicama' : 'Velik broj narudžbi'}} 
          </p>
        </div>
      </div>
    
    </mat-card>
    </div>

    <div class="card-container">
      <mat-card class="card-wrapper">
    
        <div class="card-header">
          <div class="card-icon history"><mat-icon>assignment_turned_in</mat-icon>
          </div>
          <p class="card-category">Broj narudžbi</p>
          <h3 class="card-title">{{done}} </h3> <!--<small>GB</small>-->
        </div>
        <div class="card-footer">
          <div class="card-footer-text">
            <mat-icon [ngClass]="{'success':done>lastYearOrders, 'warning':lastYearOrders>done, 'info':lastYearOrders==done}">{{done>lastYearOrders? 'trending_up' :  lastYearOrders>done? 'trending_down' : 'trending_flat'}}</mat-icon>
            <p>
              {{done>lastYearOrders? 'Broj narudžbi u porastu' : lastYearOrders>done? 'Broj narudžbi u padu' : 'Broj narudžbi je isti'}}
            </p>
          </div>
          <p class="info-right">({{lastYearOrders}})</p>
        </div>

      </mat-card>
    </div>

    <div class="card-container">
      <mat-card class="card-wrapper">
    
        <div class="card-header">
          <div class="card-icon money"><mat-icon>attach_money</mat-icon>
          </div>
          <p class="card-category">Prihod</p>
          <h3 class="card-title"> {{total | number : '1.2'}} <small>kn</small></h3>
        </div>
        <div class="card-footer">
          <div class="card-footer-text">
            <mat-icon [ngClass]="{'success':total>lastYearTotal, 'warning':lastYearTotal>total, 'info':lastYearTotal==total}">{{total>lastYearTotal? 'trending_up' :  lastYearTotal>total? 'trending_down' : 'trending_flat'}}</mat-icon>
            <p>
              {{total>lastYearTotal? 'Prihod u porastu' : lastYearTotal>total? 'Prihod u padu' : 'Prihod je isti'}}
            </p>
          </div>
          <p class="info-right">({{lastYearTotal | number : '1.2'}})</p>
        </div>
      
      </mat-card>
    </div>

    <div class="card-container">
      <mat-card class="card-wrapper">
    
        <div class="card-header">
          <div class="card-icon users"><mat-icon>people</mat-icon>
          </div>
          <p class="card-category">Broj korisnika</p>
          <h3 class="card-title">{{users}}</h3>
        </div>
        <div class="card-footer">
          <div class="card-footer-text">
            <mat-icon [ngClass]="{'success':users>lastYearUsers, 'warning':lastYearUsers>users, 'info':lastYearUsers==users}">{{users>lastYearUsers? 'trending_up' :  lastYearUsers>users? 'trending_down' : 'trending_flat'}}</mat-icon>
            <p>
              {{users>lastYearUsers? 'Broj korisnika u porastu' : lastYearUsers>users? 'Broj korisnika u padu' : 'Broj korisnika je isti'}}
            </p>
          </div>
          <p class="info-right">({{lastYearUsers}})</p>
        </div>
      
      </mat-card>
    </div>


</ng-template>


<ng-template #lineChart>
  <canvas *ngIf="datasets != null"
          baseChart
          [datasets]="datasets"
          [labels]="labels"
          [options]="options"
          [chartType]="'line'"
          [colors]="colors"
          (chartClick)="onClick($event)">
  </canvas>
</ng-template>

<ng-template #barChart>
  <canvas *ngIf="datasets != null"
          baseChart
          [datasets]="datasets"
          [labels]="labels"
          [options]="options"
          [chartType]="'bar'"
          [colors]="colors"
          (chartClick)="onClick($event)">
  </canvas>
</ng-template>

<ng-template #pieChart>
  <canvas *ngIf="datasets != null"
          baseChart
          [datasets]="datasets"
          [labels]="labels"
          [options]="options"
          [chartType]="'pie'"
          [colors]="colors"
          (chartClick)="onClick($event)">
  </canvas>
</ng-template>

<ng-template #table>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"  *ngIf="dataSource != null">
      
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Godina </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
          </ng-container>
      
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Mjesec </th>
            <td mat-cell *matCellDef="let element"> {{labels[element.month-1]}} </td>
          </ng-container>
      
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Ukupno (kn) </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
      </div>

</ng-template>




  
<ng-template #dialogContentRef>
  
    <div *ngIf="datasetsMonths!=null && datasetsMonths.length>0" style="width: 70%;margin: 0 auto;">
      <canvas baseChart
              [datasets]="datasetsMonths"
              [labels]="labelsMonths"
              [options]="optionsMonths"
              [colors]="colors"
              [chartType]="'bar'">
      </canvas> 
    </div>
  
  </ng-template>