<ng-template #dialogContentRef *ngIf="collectionType != null && collectionType.getEditRow() != null">

  <form [formGroup]="form" (ngSubmit)="save()" novalidate>
      <ng-container *ngFor="let attr of collectionType.getVisibleAttributes()">

        <mat-form-field *ngIf="attr.name == 'type'">
            <mat-select placeholder="{{attr.header}}" 
                        [(ngModel)]="collectionType.getEditRow().data[attr.name]"
                        [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let opt of _getOpts()" [value]="opt[0]">
                {{opt[1]}}
              </mat-option>
            </mat-select>
          <mat-error>{{attr.error.message}}</mat-error>
        </mat-form-field>
        
        
        <mat-form-field *ngIf="attr.name == 'photo'">
          <ngx-mat-file-input formControlName="{{attr.name}}" placeholder="{{attr.header}}" [accept]="'image/*'" (ngModelChange)="collectionType.handleFileChanged(collectionType.getEditRow(), attr, $event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
          <mat-error>{{attr.error.message}}</mat-error>
        </mat-form-field>

        
<!-- 
        <mat-form-field *ngIf="attr.type.type != 'file'">
            <input matInput [(ngModel)]="collectionType.getEditRow().data[attr.name]" 
                            type="{{attr.type.type}}" 
                            [ngModelOptions]="{standalone: true}" 
                            [required]="attr.mandatory"
                            placeholder="{{attr.header}}"/>
            <mat-error>{{attr.error.message}}</mat-error>
          </mat-form-field>
          
          
          <mat-form-field *ngIf="attr.type.type == 'file'">
            <ngx-mat-file-input formControlName="{{attr.name}}" placeholder="{{attr.header}}" [accept]="'image/*'" (ngModelChange)="collectionType.handleFileChanged(collectionType.getEditRow(), attr, $event)">
            </ngx-mat-file-input>
            <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
            <mat-error>{{attr.error.message}}</mat-error>
          </mat-form-field> -->

      </ng-container>
    </form>


</ng-template>

