<ng-template #dialogContentRef *ngIf="collectionType != null && collectionType.getEditRow() != null">

  <div>
    <form [formGroup]="form" (ngSubmit)="save()" novalidate>
      <ng-container *ngFor="let attr of collectionType.getVisibleAttributes()">

        <mat-form-field *ngIf="attr.type.type != 'file'">
            <input matInput [(ngModel)]="collectionType.getEditRow().data[attr.name]" 
                            type="{{attr.type.type}}" 
                            [ngModelOptions]="{standalone: true}" 
                            [required]="attr.mandatory"
                            placeholder="{{attr.header}}"/>
            <mat-error>{{attr.error.message}}</mat-error>
          </mat-form-field>
          
          
          <mat-form-field *ngIf="attr.type.type == 'file'">
            <ngx-mat-file-input formControlName="{{attr.name}}" placeholder="{{attr.header}}" [accept]="'image/*'" (ngModelChange)="collectionType.handleFileChanged(collectionType.getEditRow(), attr, $event)">
            </ngx-mat-file-input>
            <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
            <!-- <mat-hint align="end"></mat-hint> -->
            <mat-error>{{attr.error.message}}</mat-error>
          </mat-form-field>

      </ng-container>
    </form>
  </div>

  <app-table [collection]="collectionType.findCollectionType('menuItemOptions')" 
             ><!--[attributesTemplate]="attributesTemplateRef"-->
  </app-table>

  <app-table [collection]="collectionType.findCollectionType('menuItemOptions').findCollectionType('menuItemOptionSupplements')" 
             class="supplements"><!-- [attributesTemplate]="attributesTemplateRef" -->             
  </app-table>

</ng-template>





<!-- <ng-template #attributesTemplateRef let-row="row" let-attr="attribute">


  <ng-container *ngIf="row != collectionType.findCollectionType('menuItemOptions').getEditRow()">
    <span>{{row.data[attr.name]}}</span>
  </ng-container>

  
  <ng-container *ngElse [ngSwitch]="attr.name">

    <mat-form-field *ngSwitchDefault>
      <input matInput [(ngModel)]="row.data[attr.name]" type="{{attr.type.type}}" [ngModelOptions]="{standalone: true}" [required]="attr.mandatory"/>
      <mat-error>{{attr.error.message}}</mat-error>
    </mat-form-field>

  </ng-container>

</ng-template> -->