<mat-sidenav-container class="menus-container">
<!-- [disableClose]="true" -->
    <mat-sidenav mode="side" opened 
                 class="menus-sidenav"
                 [fixedInViewport]="false" 
                 [fixedTopGap]="0"
                 [fixedBottomGap]="0"
                 #sidenav>
               
            <h3 mat-subheader>{{companiesCollectionType.findAttr("menus").header}}

              <div class="action-bar">
                  <!-- <button style="padding: 0;min-width: 50px;" mat-button (click)="add()">Add</button>
                  <button style="padding: 0;min-width: 50px;" mat-button (click)="edit()">Edit</button>
                  <button style="padding: 0;min-width: 50px;" mat-button (click)="delete()">Delete</button> -->
                  <button mat-button matTooltip="Dodaj novu stavku" (click)="add()"><mat-icon> add_circle_outline</mat-icon></button>
                  <button mat-button matTooltip="Uredi stavku" (click)="edit()"><mat-icon> edit </mat-icon></button>
                  <button mat-button matTooltip="Izbriši stavku" (click)="delete()"><mat-icon> delete_outline</mat-icon></button>
              </div>
      
            </h3>
            <mat-divider class="menus-list-divider"></mat-divider>
            
            <mat-list>

              <ng-container *ngIf="companiesCollectionType.getCurrentRow()">
            
                  <mat-list-item *ngFor="let menu of companiesCollectionType.getCurrentRow().data.menus" 
                                (click)="onMenuSelected(menu)"
                                [ngClass]="{'selected': menu==collectionType.getCurrentRow()}">
                

                    <img matListAvatar src="{{_path(menu.data.photo)}}" alt="{{menu.data.photo}}"/>    
                    <h4 mat-line>{{_getType(menu.data.type)}}</h4>
                    <p mat-line>Broj stavki: {{menu.data.menuItems.length}} </p>
                
                <mat-divider></mat-divider>
              </mat-list-item>
            
            </ng-container>

            </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <button *ngIf="!sidenav.opened" style="float: left;" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      <app-menu-items #menuItems [collectionType]="collectionType.findCollectionType('menuItems')"></app-menu-items>            
    </mat-sidenav-content>

  </mat-sidenav-container>


<app-edit-menu #editMenu [collectionType]="collectionType"></app-edit-menu>
<app-message #message></app-message>