@import '../../../theme.sass'


.selected
    background: $selected//#e6e6e6//rebeccapurple

.selected.new
  background: $new

.selected.changed
  background: $changed
  
.selected.deleted
  background: $deleted


.menus-container 
  position: absolute
  top: 60px
  bottom: 0
  left: 0
  right: 0


.menus-sidenav 
  width: 300px
//   display: flex
//   align-items: center
//   justify-content: center


.menus-list-divider
  border-color: mat-color($primary)
  position: absolute
  width: 100%
  top: 56px


app-menu-items
  margin: 50px 10px 0px 10px
  display: block

h3 
  font-weight: bold
  margin: 0
  padding: 10px
  position: absolute
  z-index: 1
  background: white

mat-list
  margin-top: 50px

// /ng-deep/ mat-sidebar .mat-drawer-inner-container
//   overflow: hidden


.action-bar
  margin-left: 75px
  button 
    color: $action-button-color
    padding: 0
    min-width: 50px