<mat-card>
  <mat-card-content>
    <!-- <div class="info-container"> -->

    <form [formGroup]="form" novalidate class="info-container"> <!--(ngSubmit)="save()" bug sa otvranjem postavka lokacije - autosubmita-->

      <mat-form-field>
        <input matInput [(ngModel)]="company.name" placeholder="{{collectionType.findAttr('name').header}}" type="text" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('name').error.message}}</mat-error>
      </mat-form-field>  
      <mat-form-field>
        <input matInput [(ngModel)]="company.city" placeholder="{{collectionType.findAttr('city').header}}" type="text" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('city').error.message}}</mat-error>
      </mat-form-field>  
      <mat-form-field>
        <input matInput [(ngModel)]="company.address" placeholder="{{collectionType.findAttr('address').header}}" type="text" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('address').error.message}}</mat-error>
      </mat-form-field>
<!-- 
      <mat-form-field>
          <input matInput [(ngModel)]="company.photo" placeholder="{{collectionType.findAttr('photo').header}}" type="file" [ngModelOptions]="{standalone: true}"at-form-field>     -->
      <!-- <button type="button" mat-raised-button color="primary" (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput (change)="previewImage($event)"/> -->

      <mat-form-field>
        <ngx-mat-file-input formControlName="photo" [accept]="'image/*'" placeholder="{{collectionType.findAttr('photo').header}}" (ngModelChange)="collectionType.handleFileChanged(collectionType.getEditRow(), collectionType.findAttr('photo'), $event)">
        </ngx-mat-file-input>
        <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
        <!-- <mat-hint align="end"></mat-hint> -->
        <mat-error>{{collectionType.findAttr('photo').error.message}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="company.phone" placeholder="{{collectionType.findAttr('phone').header}}" type="tel" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('phone').error.message}}</mat-error>
      </mat-form-field>  


      <div style="margin-bottom: 5px;">
        <mat-slide-toggle [checked]="company.delivery" [color]="'primary'" (change)="company.delivery = $event.checked">
          {{collectionType.findAttr('delivery').header}}
        </mat-slide-toggle>
        <!-- <mat-error>{{collectionType.findAttr('delivery').error.message}}</mat-error> -->
      </div>

      <div style="margin-bottom: 15px;">
        <mat-slide-toggle [checked]="company.pickUp" [color]="'primary'" (change)="company.pickUp = $event.checked">
          {{collectionType.findAttr('pickUp').header}}
        </mat-slide-toggle>
        <!-- <mat-error>{{collectionType.findAttr('pickUp').error.message}}</mat-error> -->
      </div>
    
    <div style="height: 0;">
      <button type="button" style="float: right;position: relative;top: -60px;" mat-raised-button matTooltip="Uredi lokaciju objekta" color="primary" (click)="showMap()"><mat-icon>edit_location</mat-icon></button>
    </div>

     <mat-form-field>
        <input matInput [(ngModel)]="company.minDeliveryPrice" placeholder="{{collectionType.findAttr('minDeliveryPrice').header}}" type="number" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('minDeliveryPrice').error.message}}</mat-error>
      </mat-form-field>  

      <mat-form-field>
        <input matInput [(ngModel)]="company.maxDestinationRange" placeholder="{{collectionType.findAttr('maxDestinationRange').header}}" type="number" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('maxDestinationRange').error.message}}</mat-error>
      </mat-form-field>  

      <mat-form-field>
        <input matInput [(ngModel)]="company.maxFreeDeliveryRange" placeholder="{{collectionType.findAttr('maxFreeDeliveryRange').header}}" type="number" [ngModelOptions]="{standalone: true}" required/>
        <mat-error>{{collectionType.findAttr('maxFreeDeliveryRange').error.message}}</mat-error>
      </mat-form-field>  
      
      <mat-form-field>
        <input matInput [(ngModel)]="company.ethAddress" placeholder="{{collectionType.findAttr('ethAddress').header}}" type="text" [ngModelOptions]="{standalone: true}"/>
        <mat-error>{{collectionType.findAttr('ethAddress').error.message}}</mat-error>
      </mat-form-field>  

      <mat-form-field>
        <input matInput [(ngModel)]="company.rewardableCount" placeholder="Min. broj narudžbi korisnika za mogućnost dobitka besplatne narudžbe (0 = ne dopusti)" type="number" [ngModelOptions]="{standalone: true}"/>
        <!-- <mat-error>{{collectionType.findAttr('ethAddress').error.message}}</mat-error> -->
      </mat-form-field>  

      <mat-form-field>
        <textarea matInput [(ngModel)]="company.description" placeholder="{{collectionType.findAttr('description').header}}" [ngModelOptions]="{standalone: true}"></textarea>
        <mat-error>{{collectionType.findAttr('description').error.message}}</mat-error>
      </mat-form-field>
      
      </form>
  <!-- </div> -->

  </mat-card-content>
  
  <!-- <div style="text-align: end;"> -->
    <button mat-raised-button color="primary" (click)="save()">Spremi</button>
  <!-- </div> -->
</mat-card>



<ng-template #dialogContentRef>

  <agm-map [latitude]="company.latitude" 
          [longitude]="company.longitude"
          [zoom]="13"
          [fullscreenControl]="true" 
          [mapTypeControl]="true"
          [mapTypeId]="'roadmap'">
    <agm-marker [latitude]="company.latitude" 
                [longitude]="company.longitude" 
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
      <agm-info-window>Ovdje se nalazi moj objekt</agm-info-window>
    </agm-marker>
  </agm-map>
</ng-template>




<!-- "id" -->
<!-- "name" -->
<!-- "city" -->
<!-- "address" -->

<!-- 
"latitude"
"longitude"
 -->

<!-- "photo" -->
<!-- "phone" -->
<!-- "delivery" -->
<!-- "pickUp" -->
<!-- "minDeliveryPrice" -->
<!-- "maxDestinationRange" -->
<!-- "maxFreeDeliveryRange" -->
<!-- "description" -->