@import "~@angular/material/prebuilt-themes/indigo-pink.css"
// @import "~@angular/material/prebuilt-themes/purple-green.css"
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

body 
  margin: 0

html, body
    height: 100%

app-table
    display: block
    width: 100%
    height: 100%
    min-height: inherit
    max-height: inherit


.app-label
    color: rgba(0, 0, 0, 0.71)
    // color: rgba(0, 0, 0, 0.54)

.app-value
    font-weight: bold