@import '../../../theme.sass'

.view
    background: url(/assets/photos/cover.jpg)no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: 100vh

.view
    position: absolute
    overflow: hidden
    cursor: default
    width: 100%
    left: 0
    top: 0
    right: 0
    z-index: -1
    // position: relative
    // overflow: hidden
    // cursor: default

.rgba-black-light, .rgba-black-light:after
    background-color: rgba(0,0,0,.3)

.content-container
    width: 100%
    height: 100%
    text-align: center
    
    .content-wrapper
        width: 100%
        height: 100%
        background-attachment: fixed
        background: url('/assets/photos/overlay.png')
        overflow: auto
        
        .content
            min-height: 600px
            height: 100vh
            top: 15%
            position: relative
            color: white
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

            .logo
                background: url('/assets/photos/eat_on_logo.png')no-repeat center center
                height: 100px

            h1
                margin: 0
                font-size: 4.5rem
                font-weight: 300
            
            h3
                font-weight: 400
                font-size: 1.5rem

            mat-divider
                border-color: white
                border-width: 2px
                width: 800px
                display: inline-block

            button
                background: transparent//mat-color($primary)
                color: white
                border: 3px solid white
                border-radius: 35px
                font-size: 16px
                padding: 5px 25px
                // text-transform: uppercase
                font-weight: bold
                margin-top: 20px

                &:hover
                    color: mat-color($primary)
                    border-color: mat-color($primary)
                    background: white
            
            mat-grid-list
                margin-bottom: 30px

                mat-icon
                    font-size: 80px
                    border-bottom: 2px solid white
                    width: 150px
                    height: 90px
                    // width: 80px
                    // height: 80px
                    &.user
                        height: 80px
                        margin-top: 10px
                
                h3
                    width: 600px

                button
                    mat-icon
                        font-size: 20px
                        width: 20px
                        height: 24px
                        margin-right: 5px
                        border: none   
            
        .info
            background: white
            color: #212529
            padding: 40px 70px