<div class="view rgba-black-light">

  <div class="content-container">

    <div class="content-wrapper">
      <div class="content">

        <div class="logo"></div>

        <h1>EatOn - The eat is on!</h1>

        <mat-divider></mat-divider>

        <!-- <h3>
          <pre>
          Pridruži se kao korisnik i naruči svoje omiljeno jelo brzo i jednostavno iz tvojeg omiljenog mjesta. 
          Nudiš ukusne proizvode? Pridruži nam se kao pružatelj proizvoda i povećaj vidljivost svojih proizvoda.</pre>  
        </h3>

        <button mat-raised-button>Započni</button>
       -->
        <mat-grid-list cols="2" rowHeight="300">
          <mat-grid-tile>
            
            <div>
              <mat-icon class="user">person</mat-icon>

              <h3>Pridruži se kao korisnik i naruči svoje omiljeno jelo brzo i jednostavno iz tvojeg omiljenog mjesta</h3>

              <button mat-raised-button (click)="user()"> <mat-icon>phone_android</mat-icon> Preuzmi aplikaciju</button>
            </div>

          </mat-grid-tile>
          <mat-grid-tile>

            <div>
              <mat-icon>fastfood</mat-icon>

              <h3>Nudiš ukusne proizvode? Pridruži nam se i povećaj vidljivost svojih proizvoda i zadovoljstvo svojih korisnika</h3>

              <button mat-raised-button (click)="company()"> <mat-icon>laptop</mat-icon> Registriraj se</button>
            </div>

          </mat-grid-tile>  
        </mat-grid-list>


      </div>

      <div class="info">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
  
    </div>
  
  </div>

</div>
   