<ng-container *ngIf="_show">

  <h2 mat-dialog-title>{{config.title}}</h2>

  <mat-dialog-content class="mat-typography">

    <ng-container [ngTemplateOutlet]="config.contentRef"></ng-container>

  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button *ngIf="config.cancelVisible" mat-button [disabled]="config.btnEnabled != null && !config.btnEnabled" (click)="cancel()">Odustani</button><!-- [mat-dialog-close]="false" -->
    <button mat-button cdkFocusInitial [disabled]="config.btnEnabled != null && !config.btnEnabled" (click)="ok()">U redu</button><!-- [mat-dialog-close]="true" -->
  </mat-dialog-actions>

</ng-container>