@import '../../../theme.sass'

h2.mat-dialog-title
    // color:red !important
    color: mat-color($primary)
    border-bottom: 1px solid mat-color($primary)
    
    
mat-dialog-content
    padding-bottom: 24px
    //padding-top: 24px 