<!-- 
<div class="spinner-container" *ngIf="collection == null">
  <mat-spinner></mat-spinner>
</div> -->

<div class="mat-elevation-z8">

  <!-- TMP -->

  <div class="action-bar">
    <button *ngIf="options.addActionVisible" mat-button matTooltip="Dodaj novu stavku" (click)="add()"><mat-icon> add_circle_outline</mat-icon></button>
    <button *ngIf="options.editActionVisible" mat-button matTooltip="Uredi stavku" (click)="edit()"><mat-icon> edit </mat-icon></button>
    <button *ngIf="options.deleteActionVisible" mat-button matTooltip="Izbriši stavku" (click)="delete()"><mat-icon> delete_outline</mat-icon></button>
  </div>

  <table #matTable mat-table [dataSource]="dataSource">

    
    <ng-container *ngFor="let attr of _getAttributes()" matColumnDef="{{attr.name}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="attr.name"> {{attr.header}} </th>
      <td mat-cell *matCellDef="let row" [ngClass]="attr.name"> 
        
        <ng-container *ngIf="!attributesTemplate">

            <ng-container *ngIf="!isInput(row)">
              <span>{{row.data[attr.name]}}</span>
            </ng-container>          


            <ng-container *ngIf="isInput(row) && attr.type.type != 'file'">
              <mat-form-field>
                <!-- placeholder="{{attr.header}}"  -->
                <input matInput [(ngModel)]="row.data[attr.name]" type="{{attr.type.type}}" [ngModelOptions]="{standalone: true}" [required]="attr.mandatory"/>
                <mat-error>{{attr.error.message}}</mat-error>
              </mat-form-field>
            </ng-container>


            <ng-container *ngIf="isInput(row) && attr.type.type == 'file'">
            <!-- TODO: da bi to delalo triba zaokruzit z formon -->  
              <mat-form-field>
                  <ngx-mat-file-input formControlName="{{attr.name}}" [accept]="'image/*'" (ngModelChange)="collection.handleFileChanged(row, attr, $event)">
                  </ngx-mat-file-input>
                  <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
                  <!-- <mat-hint align="end"></mat-hint> -->
                  <mat-error>{{attr.error.message}}</mat-error>
                </mat-form-field>

              </ng-container>  
    
            <!-- {{row.data[attr.name]}} -->
        
        </ng-container>        
         
        <ng-container *ngIf="attributesTemplate" 
                      [ngTemplateOutlet]="attributesTemplate" 
                      [ngTemplateOutletContext]="{row: row, attribute: attr}">
        </ng-container>
      
      </td>
    </ng-container>  

    <tr mat-header-row *matHeaderRowDef="_getDisplayedColumns()"></tr>
    <tr mat-row 
        *matRowDef="let row; columns: _getDisplayedColumns();" 
        (click)="onClick(row)" 
        (dblclick)="onDblClick(row)"
        [ngClass]="{'selected': row == collection.getCurrentRow(), 'new': isNew(row), 'changed': isChanged(row), 'deleted': isDeleted(row)}">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!--
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
-->