@import '../../../theme.sass'

table
  width: 100%

tr.selected
  background: $selected
  &.selected td
    border-bottom: 2px solid mat-color($primary)

tr.new //:not(.selected)
  background: $new
  // &.selected td
    // border-bottom: 2px solid mat-color($primary)

tr.changed //:not(.selected)
  background: $changed
  // &.selected td
    // border-bottom: 2px solid mat-color($primary)

tr.deleted //:not(.selected)
  background: $deleted
  // &.selected td
    // border-bottom: 2px solid mat-color($primary)

.action-bar
  text-align: end
  background: #f6f6f6
  button 
    color: $action-button-color
    padding: 0px
    min-width: 40px