
<div class="container" [ngClass]="{'active': _active}">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Prijava</h1>
    <form>

      <mat-form-field>
        <input matInput [(ngModel)]="email" placeholder="Email" type="email" [ngModelOptions]="{standalone: true}" required/>
        <!-- <mat-error></mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="password" placeholder="Lozinka" type="password" [ngModelOptions]="{standalone: true}" required/>
        <!-- <mat-error></mat-error> -->
      </mat-form-field>

      <div class="error-msg">{{loginErrorMsg}}</div>
      
      <div class="button-container">
        <button [disabled]="!loginEnabled()" mat-raised-button color="primary" (click)="login()">Prijavi se</button>
      </div>

      <div class="footer"><a (click)="passwordReset()">Zaboravljena lozinka?</a></div>
    </form>
  </div>

  <div class="card alt">
    
    <div class="toggle" (click)="toggle()"></div>

    <h1 class="title">Registracija
      <div class="close" (click)="toggle()"></div>
    </h1>
    <form>

      <mat-form-field class="inversed">
          <input matInput [(ngModel)]="email" placeholder="Email" type="email" [ngModelOptions]="{standalone: true}" required/>
          <!-- <mat-error></mat-error> -->
        </mat-form-field>
        <mat-form-field class="inversed">
          <input matInput [(ngModel)]="password" placeholder="Lozinka" type="password" [ngModelOptions]="{standalone: true}" required/>
          <!-- <mat-error></mat-error> -->
        </mat-form-field>
        <mat-form-field class="inversed">
          <input matInput [(ngModel)]="repeatedPassword" placeholder="Ponovljena lozinka" type="password" [ngModelOptions]="{standalone: true}" required/>
          <!-- <mat-error></mat-error> -->
        </mat-form-field>

        <div class="error-msg inversed">{{registerErrorMsg}}</div>
  
      <div class="button-container">
        <button [disabled]="!registerEnabled()" class="inversed" mat-raised-button (click)="register()">Registriraj se</button>
      </div>
 
    </form>
  </div>
</div>