@import '../../../theme.sass'

// https://codepen.io/andytran/pen/RPBdgM
    
mat-form-field
    display: block
    margin: 0 60px


/* Container */
.container 
  position: relative
  max-width: 460px
  width: 100%
  margin: 0 auto 100px

.container.active .card:first-child 
  background: #f2f2f2
  margin: 0 15px

.container.active .card:nth-child(2) 
  background: #fafafa
  margin: 0 10px

.container.active .card.alt 
  top: 20px
  right: 0
  width: 100%
  min-width: 100%
  height: auto
  border-radius: 5px
  padding: 60px 0 40px
  overflow: hidden

.container.active .card.alt .toggle 
  position: absolute
  top: 40px
  right: -70px
  box-shadow: none
  -webkit-transform: scale(10)
  transform: scale(10)
  transition: -webkit-transform .3s ease
  transition: transform .3s ease
  transition: transform .3s ease, -webkit-transform .3s ease

.container.active .card.alt .toggle:before 
  content: ''

.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container 
  left: 0
  opacity: 1
  visibility: visible
  transition: .3s ease

.container.active .card.alt .title 
  transition-delay: .3s

.container.active .card.alt .input-container 
  transition-delay: .4s

.container.active .card.alt .input-container:nth-child(2) 
  transition-delay: .5s

.container.active .card.alt .input-container:nth-child(3) 
  transition-delay: .6s

.container.active .card.alt .button-container 
  transition-delay: .7s

.container:not(.active) .inversed
    display: none

.card 
  position: relative
  background: #ffffff
  border-radius: 5px
  padding: 60px 0 40px 0
  box-sizing: border-box
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: .3s ease

.card:first-child 
  background: #fafafa
  height: 10px
  border-radius: 5px 5px 0 0
  margin: 0 10px
  padding: 0

.card .title 
  position: relative
  z-index: 1
  border-left: 5px solid mat-color($primary)
  margin: 0 0 35px
  padding: 10px 0 10px 50px
  color: mat-color($primary)
  font-size: 1.5rem
  font-weight: 600
//   text-transform: uppercase

.button-container
    text-align: center
    margin-top: 20px

.button-container button
    width: 340px
    font-size: 1.1rem
    padding: 3px
    font-weight: bold

button.inversed
    background: white
    color: mat-color($primary)

mat-form-field.inversed
    color: white

/deep/ mat-form-field.inversed .mat-form-field-label
    color: white !important
/deep/ mat-form-field.inversed .mat-form-field-underline
    background-color: white !important
/deep/ mat-form-field.inversed.mat-focused .mat-form-field-ripple
    background-color: #d4d4d4 !important    


.card .footer 
    margin: 20px 0 0
    color: #bababa
    font-size: 1rem
    text-align: center

.card .footer a 
  color: inherit
  text-decoration: none
  transition: .3s ease

.card .footer a:hover
    cursor: pointer
    color: mat-color($primary)

.card.alt 
  position: absolute
  top: 50px
  right: -100px
  z-index: 10
  width: 140px
  height: 140px
  background: none
  border-radius: 100%
  box-shadow: none
  padding: 0
  transition: .3s ease

.card.alt .toggle 
  position: relative
  background: mat-color($primary)
  width: 140px
  height: 140px
  border-radius: 100%
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  color: #ffffff
  font-size: 58px
  line-height: 140px
  text-align: center
  cursor: pointer

.container:not(.active) .card.alt .toggle
    width: 80px
    height: 80px
    line-height: 80px

.card.alt .toggle:before 
  content: '+'
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-transform: translate(0, 0)
          transform: translate(0, 0)

.card.alt .title,
.card.alt .button-container 
  left: 100px
  opacity: 0
  visibility: hidden

.card.alt .title 
  position: relative
  border-color: #ffffff
  color: #ffffff

.card.alt .title .close 
  cursor: pointer
  position: absolute
  top: -3px
  right: 60px
  display: inline
  color: #ffffff
  font-size: 58px
  font-weight: 400

.card.alt .title .close:before 
  content: '\00d7'


.error-msg
    margin: 0 60px
    font-size: 0.8rem
    color: mat-color($warn)

    &.inversed
        position: relative
        color: white


@-webkit-keyframes buttonFadeInUp
  0% 
    bottom: 30px
    opacity: 0
  

@keyframes buttonFadeInUp
  0% 
    bottom: 30px
    opacity: 0
  

